@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    font-family: 'Open Sans';

    --orange-main: #CD6326;
    --orange-light: #E39128;
    --orange-dark: #8F5613;

    --font-light: #F7F7F7;
    --font-grey: #666666;
    --font-dark: #333333;
    
    --transition-duration: .3s;
    --transition-duration-fast: .1s;
}

/* main tags */

html {
    scroll-behavior: smooth;
}
a, p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

a {
    transition: color var(--transition-duration-fast);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--orange-light);
}

/* prestyled */

.h1-orange {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--orange-main);
}

.h2-dark {
    font-size: 48px;
    font-weight: 400;
    color: var(--font-dark);
}

.sh2-grey {
    font-size: 24px;
    font-weight: 400;
    color: var(--font-grey);
}

.h3-dark {
    font-size: 27px;
    font-weight: 400;
    color: var(--font-dark);
}

.h4-light {
    font-size: 22px;
    font-weight: 400;
    color: var(--font-light);
}

.wildlife {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--font-light);
    cursor: pointer;
}

.text-menu-ui {
    font-size: 23px;
    font-weight: 400;
    color: var(--font-light);
}

.text-regular-ui {
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 400;
    color: var(--font-light);
}

.text-regular-light {
    font-size: 18px;
    font-weight: 400;
    color: var(--font-light);
}

.text-small-light {
    font-size: 17px;
    font-weight: 400;
    color: var(--font-light);
}

.button-regular {
    border: none;
    border-radius: 5px;
    background-color: var(--orange-main);
    transition: background-color var(--transition-duration);
}

.button-regular:hover {
    background-color: var(--orange-light);
    cursor: pointer;
}

.button-regular:active {
    background-color: var(--orange-dark);
}
.button-hollow {
    border: 2px var(--orange-main) solid;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color var(--transition-duration), border-color var(--transition-duration);
}

.button-hollow:hover{
    background-color: var(--orange-main);
    cursor: pointer;
}

.button-hollow:active {
    border-color: var(--orange-dark);
    background-color: var(--orange-dark);
}

.donate-btn {
    width: 160px;
    height: 60px;
}

.login-btn-logo {
    width: 100px;
    height: 50px;
    z-index: 10;
    display: none;
}

.login-btn {
    width: 120px;
    height: 50px;
    z-index: 10;
}

.input-form {
    display: flex;
    flex-direction: row;
    width: 660px;
    height: 60px;
    overflow: hidden;
    border-radius: 5px;
}

.callback-input {
    width: 540px;
    padding-left: 15px;
    border: 1px var(--font-grey) solid;
    border-right: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 400;
    color: var(--font-grey);
    background-color: transparent;
}

.callback-btn {
    width: 120px;
    border-radius: 0px;
}

/* html-based */

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    padding: 0px 120px;
}

.logo {
    display:flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    z-index: 1;
    transition: filter var(--transition-duration-fast);
}

.logo:hover {
   filter: invert(55%) sepia(100%) saturate(486%) hue-rotate(352deg) brightness(94%) contrast(88%);
}


.menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    z-index: 1;
}

.menu-search-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
 }

 .menu-search-btn img {
    transition: filter var(--transition-duration-fast);
 }

 .menu-search-btn:hover img {
    filter: invert(55%) sepia(100%) saturate(486%) hue-rotate(352deg) brightness(94%) contrast(88%);
    cursor: pointer;
 }

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 780px;
    display: flex;
    align-items: center;
}

.hero_img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 780px;
    object-fit: cover;
    box-shadow: -150px 0px 150px 0px #02160B;
    z-index: -10;
}

.hero_img_overlain {
    display: none;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 275px;
    margin-left: 120px;
    gap: 50px;
}

.latest-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 515px;
    width: 100%;
    height: 1010px;
    padding-top: 120px;
    padding-bottom: 240px;
    background-color: #CCCCCC;
}

.latest-articles-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 128px;
}

.latest-articles-callback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

footer {
    position: relative;
    top: 2148px;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 360px;
    padding: 0 120px;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
}

.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
}


.social-btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.social-icon {
    transition: transform var(--transition-duration);
}

.social-icon:hover {
    transform: scale(1.1);
}

.footer_img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 360px;
    object-fit: cover;
    box-shadow: -150px 0px 150px 0px #02160B;
    z-index: -10;
}

/* slider */

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1160px;
    padding: 0 60px;
    box-sizing: border-box;
}

.slider {
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 300px;
    height: 360px;
    cursor: pointer;
}

.swiper-slide img {
    position: absolute;
    top: 0;
}

.slide-desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 75px;
    margin-bottom: 39px;
    z-index: 1;
}

/* navigation */

.swiper-button-prev-custom,
.swiper-button-next-custom {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}

.swiper-button-prev-custom img,
.swiper-button-next-custom img {
    width: 26px;
    height: 39px;
}

.swiper-button-prev-custom {
    left: -20px;
}

.swiper-button-next-custom {
    right: -20px;
}

/* mobile ver */

@media (max-width: 360px) {

    header {
        position: relative;
        margin-top: 0;
        flex-direction: column;
    }

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 300%;
        min-width: 300px;
        padding-top: 15px;
    }
    
    .logo {
        justify-content: space-evenly;
        transform: scale(0.85);
    }

    .menu {
        justify-content: center;
        width: 100%;
        padding: 10px 0;
    }
    
    .menu-search-btn {
        transform: scale(0.75);
        order: -1;
    }

    .login-btn-logo {
        display: block;
    }

    .login-btn {
        display: none;
    }

    .hero {
        flex-direction: column;
        justify-content: space-around;
        height: 518.8px;
        padding-top: 121.2px;
    }

    .hero_img {
        max-height: 640px;
        filter: saturate(30%);
    }

    .hero-text-wrapper {
        position: relative;
        overflow: hidden;
        align-items: center;
        width: 75%;
        padding: 20px 12.5%;
        margin: 0;
        background-color: #00000033;
    }

    .hero_img_overlain {
        position: absolute;
        top: -150px;
        height: 640px;
        display: block;
        z-index: -1;
        object-fit: cover;
        filter: saturate(125%);
    }

    .wildlife {
        display: none;
    }
    
    .hta-arrow {
        transform: scaleY(1.2);
        rotate: 90deg;
        filter: brightness(2);

        animation: float 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    }

    @keyframes float {
        0% {
            transform: scaleY(1.2) translateX(0px);
            rotate: 90deg;
        }
        50% {
            transform: scaleY(1.2) translateX(7px);
            rotate: 90deg;
        }
        100% {
            transform: scaleY(1.2) translateX(0px);
            rotate: 90deg;
        }
    }
    
    .latest-articles {
        position: relative;
        height:fit-content;
        padding-top: 30px;
        padding-bottom: 60px;
        gap: 40px;
    }

    .latest-articles-head {
        justify-content: space-evenly;
    }

    .slider-container {
        position: relative;
        max-width: 80%;
        height: 240px;
        padding: 0 60px;
        box-sizing: border-box;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 80%;
        height: 240px;
        cursor: pointer;
    }

    .swiper-slide img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .slide-desc {
        width: 100%;
        height: 25%;
        margin-bottom: 20px;
        text-align: center;
    }

    .latest-articles-callback {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        gap: 25px;
    }

    .input-form {
        display: flex;
        flex-direction: row;
        width: 80%;
        min-height: 40%;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .h-callback {
        width: 60%;
        text-align: center;
    }

    .callback-input {
        width: 70%;
    }

    .callback-btn {
        width: 30%;
    }

    footer {
        position: relative;
        top: 515px;
        width: 100%;   
    }

    .footer-wrapper {
        padding: 0;
        flex-direction: column;
        justify-content: space-evenly;
        height: 230px;
    }

    .menu-footer {
        position: relative;
        justify-content: space-evenly;
        width: 100%;
        gap: 0;
    }

    .social-container {
        gap: 10px;
    }

    .social-btn {
        transform: scale(0.8);
    }

    .wildlife-ft {
        display: inline;
    }

    .footer_img {
        height: 100%;
    }

    .h1-orange {
        font-size: 46px;
        font-weight: 400;
        letter-spacing: 2px;
        color: var(--orange-main);
    }

    .h2-dark {
        font-size: 36px;
        font-weight: 400;
        color: var(--font-dark);
    }

    .sh2-grey {
        font-size: 18px;
        font-weight: 400;
        color: var(--font-grey);
    }

    .h3-dark {
        font-size: 22px;
        font-weight: 400;
        color: var(--font-dark);
    }

    .h4-light {
        font-size: 18px;
        font-weight: 400;
        color: var(--font-light);
    }

    .text-menu-ui {
        font-size: 20px;
        font-weight: 400;
        color: var(--font-light);
    }

    .text-regular-ui {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 400;
        color: var(--font-light);
    }

    .text-regular-light {
        font-size: 17px;
        font-weight: 400;
        color: var(--font-light);
    }

    .text-small-light {
        font-size: 13px;
        font-weight: 400;
        color: var(--font-light);
    }
}