@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    font-family: 'Open Sans';

    --orange-main: #CD6326;
    --orange-light: #E39128;
    --orange-dark: #8F5613;

    --font-light: #F7F7F7;
    --font-grey: #666666;
    --font-dark: #333333;
    
    --trasntion-duration: .3s;
}

/* main tags */

a, p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* prestyled */

.h1-orange {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--orange-main);
}

.h2-dark {
    font-size: 48px;
    font-weight: 400;
    color: var(--font-dark);
}

.sh2-grey {
    font-size: 24px;
    font-weight: 400;
    color: var(--font-grey);
}

.h3-dark {
    font-size: 27px;
    font-weight: 400;
    color: var(--font-dark);
}

.h4-light {
    font-size: 22px;
    font-weight: 400;
    color: var(--font-light);
}

.wildlife {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--font-light);
    cursor: default;
}

.text-menu-ui {
    font-size: 23px;
    font-weight: 400;
    color: var(--font-light);
}

.text-regular-ui {
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 400;
    color: var(--font-light);
}

.text-regular-light {
    font-size: 18px;
    font-weight: 400;
    color: var(--font-light);
}

.text-small-light {
    font-size: 17px;
    font-weight: 400;
    color: var(--font-light);
}

.button-regular {
    border: none;
    border-radius: 5px;
    background-color: var(--orange-main);
    transition: background-color var(--trasntion-duration);
}

.button-regular:hover {
    background-color: var(--orange-light);
    cursor: pointer;
}

.button-regular:active {
    background-color: var(--orange-dark);
}
.button-hollow {
    border: 2px var(--orange-main) solid;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color var(--trasntion-duration), border-color var(--trasntion-duration);
}

.button-hollow:hover{
    background-color: var(--orange-main);
    cursor: pointer;
}

.button-hollow:active {
    border-color: var(--orange-dark);
    background-color: var(--orange-dark);
}

.donate-btn {
    width: 160px;
    height: 60px;
}

.login-btn {
    width: 120px;
    height: 50px;
    z-index: 10;
}

.input-container {
    display: flex;
    flex-direction: row;
    width: 660px;
    height: 60px;
    overflow: hidden;
    border-radius: 5px;
}

.callback-input {
    width: 540px;
    padding-left: 15px;
    border: 1px var(--font-grey) solid;
    border-right: transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: 400;
    color: var(--font-grey);
    background-color: transparent;
}

.callback-btn {
    width: 120px;
    border-radius: 0px;
}

/* html-based */

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    padding: 0px 120px;
}

.logo {
    display:flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
}
 .menu-search-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
 }

.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 780px;
    display: flex;
    align-items: center;
}

.hero_img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 780px;
    object-fit: cover;
    box-shadow: -150px 0px 150px 0px #02160B;
    z-index: -10;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 275px;
    margin-left: 120px;
    gap: 50px;
}

.latest-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 780px;
    width: 100%;
    height: 1010px;
    padding-top: 120px;
    padding-bottom: 240px;
    background-color: #CCCCCC;
}

.latest-articles-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 128px;
}

.latest-articles-callback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

footer {
    position: absolute;
    top: 2148px;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 360px;
    padding: 0 120px;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: center;
}

.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
}

.social-btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.footer_img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 360px;
    object-fit: cover;
    box-shadow: -150px 0px 150px 0px #02160B;
    z-index: -10;
}